PORT=3000
DATABASE_URL=postgresql://username:password@host/database?sslmode=require
JWT_SECRET=your-secret-key-here
DATA_GOV_API_KEY=your-data-gov-api-key-here
EXPO_PUBLIC_DATA_GOV_API_KEY=your-data-gov-api-key-here
NODE_ENV=development
NEON_AUTH_URL=https://your-neon-auth-url.neonauth.c-*.region.aws.neon.tech/dbname/auth
